fastapi
uvicorn[standard]
ultralytics
opencv-python
aiofiles
python-multipart
sqlalchemy
psycopg2-binary
pydantic-settings
gTTS
pydub
#audioop-lts  # Required for pydub on Python 3.13+
imageio
imageio-ffmpeg
